<nav class="navbar fixed-bottom navbar-light " id="bottomNav">
  <div class="container-fluid">

    <a class="nav-links" href="mailto:youbetcha@betti.com">Contact</a>
    <a class="nav-links" href="/aboutUs">About Us</a>
    <a class="nav-links" href="/faqs">FAQs</a>

  </div>

</nav>