<footer>
	<button>Contact</button>
  <p>Betti</p>
  <p><a href="mailto:youbetcha@betti.com">Contact</a></p>
  <p><a href=>About Us</a></p>
  <p><a href=>FAQs</a></p>
  <p><a href=>Contact</a></p>
</footer>