<footer>
	
<ul>	
  <li>Betti</li>
  <li><a href="mailto:youbetcha@betti.com">Contact</a></li>
  <li><a href=>About Us</a></li>
  <li><a href=>FAQs</a></li>
  <li><a href=>Contact</a></li>
  </ul>
</footer
