<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- font libraries-->

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link
		href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato&family=Montserrat&family=Noto+Sans+JP&family=Open+Sans&family=Roboto&family=Roboto+Slab&family=Ubuntu&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float">
	<script src="https://kit.fontawesome.com/35307977b2.js" crossorigin="anonymous">
	</script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- required for predictive test -->
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet"
		type="text/css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<!-- end required for predictive test -->

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
	<title>Betti</title>
</head>

<body>

	{{>page-layouts/navbar}}

	<div class="container">
		{{{ body }}}
	</div>

	{{>page-layouts/footer}}

	<!--TODO Load scripts based on location. (or we'll be loading them unnecessarily.)-->
	<script type="text/javascript" src="/js/member-lookup.js"></script>
	<script type="text/javascript" src="/js/bet.js"></script>
	<script type="text/javascript" src="/js/new-bet.js"></script>
	<script type="text/javascript" src="/js/auth-forms.js"></script>

</body>

</html>