<div class="container card mt-2 p-3">
    <p>This is Betti.</p>

    <p> competitive? Want to set ridiculous wagers? Like setting friendly bets between mates? You betcha.
        Betti is a simple and easy way to make non-monetary bets between friends. Simply sign up, set your bet, make
        your wager and send it to a friend. Once they accept, it’s game on.
        The more betti’s involved, the more users are able to contribute, vote and get inspiration for the next friendly
        bet to make. </p>

</div>