<!--View multiple bets-->
<!--including all bets (sports, popular, fun, work etc), filtered bets, my bets-->
{{> make-bets/new-bet-form}}

<!--A Row for the filters.-->
<div class="row">
	<div class="col-md-12">
		<p>Filters: #sports #fun #work #popular #etc #etc</p>
	</div>
</div>

<!--A Row to display all of the results-->
<div class="row">
	<!-- If layout option one, split this into two columns.-->

	<div class="col-md-12">
		<!-- Display each 'bet card' here-->
		{{#each data.rows}}
			{{> view-bets/bet-block}}
		{{/each}}
	</div>
</div>

<!-- Add the pagination below -->
<div class="row">
	<div class="col-md-12 pagination" data-page="{{pageNo}}" data-count="{{data.count}}">
		{{> view-bets/pagination-block }}
	</div>
</div>