<div class="card mt-2 p-3">
    <div>
        <p>What's your Deal?</p>
    </div>
    <div>
        <p>We're Betti. We make friendly bets between mates fun.</p>
    </div>
    <div>
        <p>Can I bet money?</p>
    </div>
    <div>
        <p>Nope. Either you an wager for points or you can create a friendly wager with your mate!</p>
    </div>
    <div>
        <p>How Do I Sign up?</p>
    </div>
    <div>
        <p>Simply Enter your email and create a password!</p>
    </div>
    <div>
        <p>Aren't you needlessly promoting gambling?</p>
    </div>
    <div>
        <p>Yeah and? </p>
    </div>
</div>