{{> page-layouts/header}}
<!--A Row to display all of the results-->
<div class="row">
	<!-- If layout option one, split this into two columns.-->

	<div class="col-md-12">
		<!-- Display each 'bet card' here-->
		{{#each data}}
			{{> view-bets/bet-block}}
		{{/each}}
	</div>
</div>