<div class="card mt-2 p-3">
  {{#if goodNews}}
  <h1 class="display-2">Great news!</h1>
  {{else}}
  <h1 class="display-2">Uh ohh....</h1>
  {{/if}}
  <h2 class="my-5">{{content}}</h2>
  <div class="d-grid gap-2 mx-auto">
    <a href="/" class="btn btn-primary btn-lg w-auto">Return to home</a>
  </div>
</div>