<!--View a single bet-->

<!--A Row to display all of the results-->
<div class="row">
	<!-- If layout option one, split this into two columns.-->

	<div class="col-md-12">
<!--		This doesn't really need the block to be external, but as it is currently just-->
<!--		a modified clone of the all bets block, it makes it easier for maintenance (for now).-->
		{{> view-bets/one-bet-block}}
	</div>
</div>