body {
  font-family: "Inter", sans-serif;
  background-color: transparent;
}

.smallTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  width: 100%;
  border-radius: 999px;
  height: auto;
  background-color: lightcoral;
  align-items: center;
  text-align: center;
  position: relative;
  letter-spacing: 5px;  
}

.largeTitle {
  padding-top: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 96px;
  line-height: 104px;
  /* identical to box height, or 108% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -3px;
  /* Black */
  color: #2D3436;
  /* Text Shadow / Coral */
  text-shadow: 0px 4px 0px lightcoral;
  
}

#betDisplay {
  margin: auto;
  border-radius: 999px;
  text-align: center;
}

#bottomNav {
  
  background: rgb(255, 234, 236);
  
}


.nav-link {
  color: #2D3436;
  font-weight: bold;
}

.nav-links {
  display: contents;
  color: #2D3436;
  font-weight: bold;

}
#bettiLogo {
  width: 150px;
  height: auto;
  padding-left: 50px;
}

#signin {
  background-color: lightcoral;
  border-radius: 999px;
  position: absolute;
  right: 50px;
}

/* #create-bet {
  padding-top: 100px;
} */


.container {
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 10px;
  
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  margin-bottom: 20px;
  
}

html {
  background-image: url(/assets/images/bg-pattern.png);
  background-repeat: repeat;
}

form.signup, form.login {
  margin-top: 50px;
}


#create-bet {
  background-color: transparent;
  padding-bottom: 50px;

}

.heading-centered {
  text-align: center;
}

.upvote {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
}

.tt-query,
/* UPDATE: newer versions use tt-input instead of tt-query */

.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.tt-query {
  /* UPDATE: newer versions use tt-input instead of tt-query */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-menu {
  /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.tt-suggestion:hover {
  color: #f0f0f0;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.pagination {
    margin-bottom: 50px;
}


/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  width: 100%;
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 

 }