<form id="loginForm">
  <div class="mb-3">
    <label for="emailLoginInput">Email address</label>
    <input type="text" class="form-control" id="emailLoginInput">
  </div>
  <div class="mb-3">
    <label for="passwordLoginInput">Password</label>
    <input type="password" class="form-control" id="passwordLoginInput">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="rememberMeLoginCheck">
    <label for="rememberMeLoginCheck">Remember me?</label>
  </div>
  <div class="mb-3">
    <label class="text-right">Don't have an account?  <a href="/signup">Sign up</a></label>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>