<form>
  <div class="mb-3">
    <label for="emailInput">Email address</label>
    <input type="text" class="form-control" id="emailInput">
  </div>
  <div class="mb-3">
    <label for="passwordInput">Password</label>
    <input type="password" class="form-control" id="passwordInput">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="rememberMeCheck">
    <label for="rememberMeCheck">Remember me?</label>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>