<form>
  <div class="mb-3">
    <label for="emailInput">Username</label>
    <input type="text" class="form-control" id="emailInput">
  </div>
  <div class="mb-3">
    <label for="passwordInput">Email address</label>
    <input type="email" class="form-control" id="emailInput">
  </div>
  <div class="mb-3">
    <label for="passwordInput">Password</label>
    <input type="password" class="form-control" id="passwordInput">
  </div>
  <div class="mb-3">
    <label for="passwordInput">Confirm password</label>
    <input type="password" class="form-control" id="passwordConfirmInput">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>