<form id="signupForm">
  <div class="mb-3">
    <label for="usernameSignUpInput">Username</label>
    <input type="text" class="form-control" id="usernameSignUpInput">
  </div>
  <div class="mb-3">
    <label for="emailSignUpInput">Email address</label>
    <input type="email" class="form-control" id="emailSignUpInput">
  </div>
  <div class="mb-3">
    <label for="passwordSignUpInput">Password</label>
    <input type="password" class="form-control" id="passwordSignUpInput">
  </div>
  <div class="mb-3">
    <label for="passwordConfirmSignUpInput">Confirm password</label>
    <input type="password" class="form-control" id="passwordConfirmSignUpInput">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>