<div class="card">
	<div class="card-body">
		<div class="row">

			<!-- the left side of the bet card -->
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-4">
						vote thumb and

						<button type="button" class="btn btn-primary">
							30 points
						</button>

						<span class="badge rounded-pill bg-warning text-dark">upvotes</span>
					</div>
					<div class="col-md-4">
						<p>Adrian bet he can watch the entire netflix catalogue in year.</p>
					</div>
					<div class="col-md-4">
						<span class="badge rounded-pill bg-light text-dark">
							avatar and name
						</span>
					</div>
				</div>
			</div>

			<!-- the centre of the bet card -->
			<div class="col-md-2">
				<div class="row">
					<div class="col-md-12">
						Big V
						and then
					</div>
				</div>
			</div>

			<!-- the right side of the bet card.-->
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-4">
						<span class="badge rounded-pill bg-light text-dark">
							avatar and name
						</span>
					</div>

					<div class="col-md-4">
						<p>This bet is pending.</p>
					</div>

					<div class="col-md-4">
						vote thumb and
						<span class="badge rounded-pill bg-warning text-dark">upvotes</span>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>